.faq__list {
    display: flex;
    flex-wrap: wrap;

    @include media-laptop {
        flex-direction: column;
    }
}

.faq__item {
    width: calc(100% / 2 - 15px);
    margin-bottom: 40px;
    padding-left: 48px;

    @include media-laptop {
        width: 100%;
    }

    @include media-mobile {
        padding-left: 0;
        margin-bottom: 20px;
    }

    @include media-mobile2 {
        margin-bottom: 10px;
    }
}

.faq__tab {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 29px;
        height: 19px;
        background-image: url("../img/svg/arrow-down.svg");
        background-size: cover;
        left: -45px;
        top: 8px;
        transform: rotate(-90deg);
        transition: all 0.3s;

        @include media-tablet {
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
        }

        @include media-mobile {
            left: 0;
        }
    }

    &.active {
        &::before {
            transform: translateY(-50%) rotate(0deg);
        }
    }

    @include media-tablet {
        font-size: 18px;
    }

    @include media-mobile {
        padding-left: 40px;
    }

    @include media-mobile2 {
        font-size: 14px;
    }
}

.faq__content {
    display: none;
    padding-top: 20px;

    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        @include media-tablet {
            font-size: 16px;
        }

        @include media-mobile2 {
            font-size: 10px;
        }
    }

    @include media-mobile {
        padding-top: 10px;
    }
}