.hero {
    margin-top: 100px;
    @include media-laptop {
        margin-top: 0;
    }
}

.hero__wrapper {
    position: relative;
    z-index: 10;
    @include media-laptop {
        padding-top: 90px;
    }
    @include media-tablet {
        padding-top: 25px;
    }
}

.hero__content {
    position: relative;
    padding-bottom: 390px;

    @include media-laptop {
        padding-bottom: 170px;
    }

    @include media-tablet {
        background-position: right;
    }

    @include media-mobile {
        padding-bottom: 50px;
    }

    @include media-mobile2 {
        padding-bottom: 35px;
    }
}

.hero__picture {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 1024px;
}

.slick-dots {
    display: flex;
    position: absolute;
    z-index: 100;

    .slick-active {
        color: $color-blue-dark;
        border: 2px solid $color-blue-dark;
        border-radius: 4px;
    }

    li {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        font-size: 26px;
        font-weight: 600;
        width: 60px;
        line-height: 60px;
        text-align: center;
    }
}

.hero__slick {
    .slick-dots {
        flex-direction: column;
        top: 50%;
        transform: translateY(-90%);
        left: 255px;
    }
    .slick-arrow {
        display: none;
    }
}

.hero__caption {
    max-width: 770px;
    width: 100%;

    h1 {
        font-size: 80px;
        font-weight: 400;
        margin-bottom: 35px;

        @include media-laptop {
            // font-size: 36px;
            font-size: 80px;
        }

        .br {
            @include media-laptop {
                display: block;
            }
        }

        @include media-tablet {
            font-size: 36px;
            margin-bottom: 23px;
        }

        @include media-mobile2 {
            font-size: 28px;
        }
    }

    p {
        font-size: 24px;
        margin-bottom: 35px;

        @include media-tablet {
            font-size: 22px;
        }

        @include media-mobile2 {
            font-size: 17px;
            margin-bottom: 15px;
        }
    }
}
