.inner-block {
    margin-bottom: 130px;

    @include media-laptop {
        margin-bottom: 100px;
    }

    @include media-tablet {
        margin-bottom: 80px;
    }

    @include media-mobile {
        margin-bottom: 60px;
    }

    @include media-mobile2 {
        margin-bottom: 30px;
    }
}