.proposal {
    position: relative;
}

.proposal__item {
    position: relative;
    display: flex !important;

    picture {
        @include media-laptop {
            margin-top: 100px;
        }

        @include media-tablet {
            margin-top: 73px;
        }

        @include media-mobile {
            display: none;
        }

        // @include media-mobile2 {
        //     margin-top: 25px;
        // }

    }

    picture {
        img {
            max-width: 1145px;

            @include media-laptop {
                max-width: 458px;
            }

            @include media-tablet {
                max-width: 390px;
            }

            @include media-mobile {
                max-width: 100%;
            }
        }
    }

    .proposal__picture {
        width: 1174px;
        position: absolute;
        top: 0;
        left: 0;

        @include media-laptop {
            width: 470px;
            padding-top: 120px;
        }
    }

    .container {
        position: static;
    }

    @media (max-width: 1440px) {
        margin-left: -200px;
    }

    @include media-laptop {
        margin-left: 0;
    }

    @include media-mobile {
        flex-direction: column;
    }
}

.proposal__title {
    margin-bottom: 15px;

    @include media-laptop {
        margin-bottom: 50px;
    }

    @include media-tablet {
        margin-bottom: 30px;
    }
}

.proposal__count {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;

    span {
        font-size: 14px;
        font-weight: 300;

        @include media-mobile2 {
            font-size: 10px;
        }
    }

    @include media-mobile {
        font-size: 14px;
    }

    @include media-mobile2 {
        font-size: 10px;
    }
}

.proposal__container {
    margin-top: -60px;
    display: flex;

    @include media-laptop {
        margin-top: 0;
    }
}

.proposal__button {
    margin-left: auto;
    margin-right: 150px;

    @include media-laptop {
        margin-right: 187px;
    }

    @include media-tablet {
        margin-right: 40px;
        // height: 49px;
    }

    @include media-mobile {
        // height: 43px;
        margin-right: auto;
    }
}

.proposal__name {
    position: relative;
    font-size: 16px;
    font-weight: 300;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color-green-dark;
        transition: 0.3s;

        @include media-mobile {
            display: none;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-color: #fff;
        z-index: -1;
        transition: 0.3s;

        @include media-mobile {
            display: none;
        }
    }

    &.active {
        color: $color-blue-dark;

        &::before {
            width: 36px;
            height: 36px;
            left: -5px;
            transition: 0.3s;
        }

        &::after {
            width: 58px;
            height: 58px;
            left: 13px;
            transition: 0.3s;
        }
    }

    @include media-mobile {
        font-size: 14px;
    }

    @include media-mobile2 {
        font-size: 10px;
    }
}

.proposal__slick {
    margin-bottom: 20px;
    position: relative;

    @include media-laptop {
        margin-bottom: 0;
    }

    @include media-mobile {
        margin-bottom: 25px;
    }
}

.proposal__item-title {
    position: relative;
    top: 95px;
    left: 1092px;
    font-size: 36px;
    font-weight: 300;

    // padding-left: 49px;
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 400px;
        height: 400px;
        background-image: url("../img/proposal/romb.svg");
        background-size: cover;
        left: -315px;
        top: 134px;
        z-index: -1;

        @include media-laptop {
            display: none;
        }
    }

    @include media-laptop {
        &::before {
            display: none !important;
        }
    }

    p {
        padding-left: 0 !important;
    }

    @include media-mobile {
        display: none;
    }
}

.proposal__list {

    li {
        position: absolute;

        a {
            display: block;

            &:hover {
                .proposal__name {
                    color: $color-blue-dark;

                    &::before {
                        width: 36px;
                        height: 36px;
                        left: -5px;
                        transition: 0.3s;


                    }

                    &::after {
                        width: 58px;
                        height: 58px;
                        left: 13px;
                        transition: 0.3s;


                    }

                }
            }
        }

        p {
            padding-left: 143px;

            @include media-laptop {
                padding-left: 50px;
            }
        }

        &:nth-child(2) {
            top: 238px;
            left: 1011px;

            @include media-laptop {
                left: 0;
                top: 0;
                margin-top: 38px;
            }

            @include media-mobile {
                left: 50px;
                top: -33px;
            }

            @include media-mobile2 {
                left: 20px;
                top: -33px;
            }
        }

        &:nth-child(3) {
            top: 329px;
            left: 1101px;

            @include media-laptop {
                left: 0;
                top: 0;
            }

            @include media-mobile {
                left: 88px;
                top: -54px;
            }

            @include media-mobile2 {
                left: 58px;
                top: -54px;
            }
        }

        &:nth-child(4) {
            top: 461px;
            left: 1097px;

            @include media-laptop {
                left: 0;
                top: 0;
            }

            @include media-mobile {
                left: 90px;
                top: -44px;
            }

            @include media-mobile2 {
                left: 58px;
                top: -44px;
            }
        }

        &:last-child {
            top: 548px;
            left: 1010px;

            @include media-laptop {
                left: 0;
                top: 0;
            }

            @include media-mobile {
                left: 50px;
                top: -61px;
            }

            @include media-mobile2 {
                left: 17px;
                top: -61px;
            }
        }

        @include media-laptop {
            position: relative;
            left: 0;
            top: 0;
            // padding-left: 49px;
            margin-bottom: 40px;
            margin-left: 16px;
        }

        @include media-tablet {
            font-size: 22px;
        }
    }

    // @media (max-width: 1440px) {
    //     left: -332px;
    //     top: -137px;
    //     position: absolute; 
    // }

    // @include media-laptop {
    //     position: static;
    // }

    @include media-mobile {
        // display: none;
        background-image: url("../img/svg/romb-1.svg");
        background-repeat: no-repeat;
        background-size: 140px auto;
    }

    @include media-mobile2 {
        background-size: 118px auto;
    }
}

.proposal__arrows {
    display: none;

    @include media-mobile {
        display: flex;
        justify-content: center;
    }
}

.proposal__item-name {
    text-align: center;
    margin: 0 30px;

    @include media-mobile2 {
        font-size: 16px;
    }
}