// Mobile first
$mediaWidthMobile2: 413px;
$mediaWidthMobile: 767px;
$mediaWidthTablet: 1023px;
// $mediaWidthTabletHorizontal: 1365px;
$mediaWidthLaptop: 1919px;
// $mediaDesctop: 1919px;

$fontBase: "Nunito",
"sans-serif";
$color-base:#22304B;
$color-blue-dark: #085C8B;
$color-blue-light: hsl(201, 70%, 46%);
$color-green-dark: #43767e;
$color-green-light: #26ABBE;