footer
    .footer.footer--desktop
        .container.container--mode 
            .footer__wrapper 
                ul.footer__list 
                    li.footer__logo 
                        img(src="img/svg/logo/logo-footer.svg" alt="")
                        span КУРСКПРОМЛИЗИНГ 
                    li
                        a(href="about.html") О компании
                    li 
                        a(href="") Страхование предмета
                    li 
                        a(href="") Условия сделки
                    li 
                        a(href="") Условия лизинга
                    li 
                        a(href="") Преимущества компании
                ul.footer__list 
                    li.footer__title
                        span Предметы лизинга
                    li
                        a(href="") Лизинг водного транспорта
                    li
                        a(href="") Лизинг грузового транспорта
                    li
                        a(href="") Лизинг легковых автомобилей
                    li
                        a(href="") Лизинг оборудования
                    li
                        a(href="") Лизинг воздушного транспорта
                    li
                        a(href="") Лизинг спецтехники
                    li
                        a(href="") Лизинг недвижимости
                ul.footer__list.footer__contacts 
                    li.footer__title Контакты
                    li 
                        a(href="tel:88005553535") 8 (800) 555-35-35
                    li 
                        a г. Курск, ул. Ленина, д. 12
                    li 
                        a(href="mailto:mail@kurskpl.com") mail@kurskpl.com

            .footer__wrapper 
                p © 2015–2021 0АО «Курскпромлизинг», лицензия № 0001 от Министерства экономики РФ на лизинговую деятельность, лицензия зарегистрирована 2 сентября 2015 года. 0АО «курскпромлизинг» публикует информацию, подлежащую раскрытию эмитентами эмиссионных ценных бумаг, на странице в сети Интернет, предоставленной распространителем информации на рынке ценных бумаг АО «АЭИ „ПРАЙМ“ — информационного агентства, аккредитованного банком России на раскрытие информации, по ссылке ОГРН 1 027 810 273 545
                p Использование пользователем данного сайта означает согласие с прилагаемой Политикой в отношении обработки и защиты персональных данных. В случае несогласия с условиями Политики пользователю рекомендуется прекратить использование ресурса.
    .footer.footer--laptop
        .container.container--mode 
            .footer__wrapper
                ul.footer__list 
                    li.footer__logo 
                        img(src="img/svg/logo/logo-footer.svg" alt="")
                        span КУРСКПРОМЛИЗИНГ 
                    li 
                        a(href="") 8 (800) 555-35-35
                    li 
                        a(href="") г. Курск, ул. Ленина, д. 12
                    li 
                        a(href="") mail@kurskpl.com
                ul.footer__list.footer__lizing 
                    li.footer__title
                        span Предметы лизинга
                    li
                        a(href="") Лизинг водного транспорта
                    li
                        a(href="") Лизинг грузового транспорта
                    li
                        a(href="") Лизинг легковых автомобилей
                    li
                        a(href="") Лизинг оборудования
                    li
                        a(href="") Лизинг воздушного транспорта
                    li
                        a(href="") Лизинг спецтехники
                    li
                        a(href="") Лизинг недвижимости
                ul.footer__list.footer__about
                    li
                        a(href="") О компании
                    li 
                        a(href="") Страхование предмета
                    li 
                        a(href="") Условия сделки
                    li 
                        a(href="") Условия лизинга
                    li 
                        a(href="") Преимущества компании
                .footer__list 
                    p © 2015–2021 0АО «Курскпромлизинг», лицензия № 0001 от Министерства экономики РФ на лизинговую деятельность, лицензия зарегистрирована 2 сентября 2015 года. 0АО «курскпромлизинг» публикует информацию, подлежащую раскрытию эмитентами эмиссионных ценных бумаг, на странице в сети Интернет, предоставленной распространителем информации на рынке ценных бумаг АО «АЭИ „ПРАЙМ“ — информационного агентства, аккредитованного банком России на раскрытие информации, по ссылке ОГРН 1 027 810 273 545
                    p Использование пользователем данного сайта означает согласие с прилагаемой Политикой в отношении обработки и защиты персональных данных. В случае несогласия с условиями Политики пользователю рекомендуется прекратить использование ресурса.

