header.header
    .container.container--mode
        .header__wrapper
            a(href="index.html").header__logo.logo
                span.logo__name Курскпромлизинг
                .logo__pictures
                    img(src="../img/svg/logo/item1.svg" alt="")
                    img(src="../img/svg/logo/item2.svg" alt="")
                    img(src="../img/svg/logo/item3.svg" alt="")
                    img(src="../img/svg/logo/item4.svg" alt="")
            .header__aside
                a.header__phone(href="tel:+79999999999")
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.18167 1.12048L3.22861 1.07354C3.43089 0.883671 3.66869 0.73525 3.92859 0.636943C4.20951 0.530684 4.50982 0.485405 4.80959 0.504111C5.10935 0.522818 5.4017 0.605082 5.66723 0.745442L5.89753 0.309757L5.66723 0.745442C5.93276 0.885802 6.16539 1.08105 6.34968 1.31821L6.34985 1.31843L9.04073 4.7773C9.04075 4.77732 9.04076 4.77733 9.04077 4.77735C9.43976 5.29037 9.58061 5.95888 9.42282 6.59001L9.4228 6.59012L8.60232 9.87504L8.60227 9.87524C8.539 10.129 8.54242 10.3949 8.6122 10.6469C8.68198 10.899 8.81575 11.1288 9.00053 11.3139L9.00086 11.3142L12.6862 14.9996L12.6864 14.9998C12.8718 15.185 13.1019 15.319 13.3544 15.3888C13.6068 15.4585 13.873 15.4618 14.127 15.3982C14.1271 15.3981 14.1272 15.3981 14.1273 15.3981L17.4104 14.5777L17.4104 14.5777C17.7218 14.4998 18.0468 14.4938 18.3609 14.56C18.675 14.6262 18.9699 14.763 19.2233 14.9599L22.6819 17.6506C22.682 17.6506 22.682 17.6507 22.682 17.6507C23.6883 18.4337 23.7799 19.9201 22.8802 20.8186L22.8799 20.8189L21.329 22.3698C20.3386 23.3602 18.8772 23.7779 17.5332 23.3047L17.5331 23.3047C13.6458 21.9369 10.1164 19.7115 7.20654 16.7935L7.20553 16.7925C4.28776 13.8831 2.06237 10.3542 0.694414 6.46749C0.222547 5.12488 0.640328 3.66184 1.63072 2.67144L3.18167 1.12048Z" stroke="#22304B"/></svg>
                    span 8(999)999-99-99
                nav.header__menu
                    a(href="") О компании
                    a(href="") Условия работы
                    a(href="") Предмет лизинга
                    a(href="") Вопросы
                    a(href="") Контакты
            .header__burger#burger 
                span