.order.inner-block 
    .container
        .order__wrapper 
            h2.title.order__title Отправьте заявку на лизинг
            .order__subtitle Или свяжитесь с нами по телефону 
                span 8 (800) 555-35-35
            form.order__form
                .order__inputs
                    label Ваше имя
                        input(type="text")
                    label Телефон
                        input(type="text" placeholder="+7 (999) 123-45-67") 
                p.order__concent Оставляя заявку, вы даёте согласие на обработку персональных данных
                button.order__button.button.button--green Отправить
