doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        .notfound 
            picture 
                source(media="(max-width: 320px)" srcset="img/404/car-404-320.png")
                source(media="(max-width: 414px)" srcset="img/404/car-404-414.png")
                source(media="(max-width: 768px)" srcset="img/404/car-404-768.png")
                source(media="(max-width: 1024px)" srcset="img/404/car-404-1024.png")
                source(media="(min-width: 1025px)" srcset="img/404/image-removebg-1.png")
                img(src="img/404/image-removebg-1.png" alt="")
            .notfound__content
                h2 404
                span Страница не найдена
                a.button.button--green На главную

        include modules/menu.pug
        include modules/footer.pug
        include modules/script.pug