doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        .hero
            .hero__slick
                .hero__content
                    .container.container--mode
                        .hero__wrapper
                            .hero__caption 
                                h1 Лизинг <i class="br"></i> для физических <i class="br"></i> и юридических лиц
                                p От транспорта до недвижимости
                            button.button.button--blue Подробнее
                    picture 
                        source(media="(max-width: 320px)" srcset="img/hero/320/main-background-car-320.png")
                        source(media="(max-width: 414px)" srcset="img/hero/414/main-background-car-414.png")
                        source(media="(max-width: 768px)" srcset="img/hero/768/main-background-car-768.png")
                        source(media="(max-width: 1024px)" srcset="img/hero/1024/main-background-car-1024.png")
                        source(media="(min-width: 1025px)" srcset="img/hero/1920/main-background-car-1920.png")
                        img(src="img/hero/1920/main-background-car-1920.png" alt="").hero__picture
                .hero__content
                    .container.container--mode
                        .hero__wrapper
                            .hero__caption 
                                h1 Лизинг <i class="br"></i> для физических <i class="br"></i> и юридических лиц
                                p От транспорта до недвижимости
                            button.button.button--blue Подробнее
                    picture 
                        source(media="(max-width: 320px)" srcset="img/hero/320/main-background-car-320-1.png")
                        source(media="(max-width: 414px)" srcset="img/hero/414/main-background-car-414-1.png")
                        source(media="(max-width: 768px)" srcset="img/hero/768/main-background-car-768-1.png")
                        source(media="(max-width: 1024px)" srcset="img/hero/1024/main-background-car-1024-1.png")
                        source(media="(min-width: 1025px)" srcset="img/hero/1920/main-background-car-1920-1.png")
                        img(src="img/hero/1920/main-background-car-1920-1.png" alt="").hero__picture
                .hero__content
                    .container.container--mode
                        .hero__wrapper
                            .hero__caption 
                                h1 Лизинг <i class="br"></i> для физических <i class="br"></i> и юридических лиц
                                p От транспорта до недвижимости
                            button.button.button--blue Подробнее
                    picture 
                        source(media="(max-width: 320px)" srcset="img/hero/320/main-background-car-320-2.png")
                        source(media="(max-width: 414px)" srcset="img/hero/414/main-background-car-414-2.png")
                        source(media="(max-width: 768px)" srcset="img/hero/768/main-background-car-768-2.png")
                        source(media="(max-width: 1024px)" srcset="img/hero/1024/main-background-car-1024-2.png")
                        source(media="(min-width: 1025px)" srcset="img/hero/1920/main-background-car-1920-2.png")
                        img(src="img/hero/1920/main-background-car-1920-2.png" alt="").hero__picture

                .hero__content
                    .container.container--mode
                        .hero__wrapper
                            .hero__caption 
                                h1 Лизинг <i class="br"></i> для физических <i class="br"></i> и юридических лиц
                                p От транспорта до недвижимости
                            button.button.button--blue Подробнее
                    picture 
                        source(media="(max-width: 320px)" srcset="img/hero/320/main-background-car-320-3.png")
                        source(media="(max-width: 414px)" srcset="img/hero/414/main-background-car-414-3.png")
                        source(media="(max-width: 768px)" srcset="img/hero/768/main-background-car-768-3.png")
                        source(media="(max-width: 1024px)" srcset="img/hero/1024/main-background-car-1024-3.png")
                        source(media="(min-width: 1025px)" srcset="img/hero/1920/main-background-car-1920-3.png")
                        img(src="img/hero/1920/main-background-car-1920-3.png" alt="").hero__picture

                .hero__content
                    .container.container--mode
                        .hero__wrapper
                            .hero__caption 
                                h1 Лизинг для физических и юридических лиц
                                p От транспорта до недвижимости
                            button.button.button--blue Подробнее
                    picture 
                        source(media="(max-width: 320px)" srcset="img/hero/320/main-background-car-320-4.png")
                        source(media="(max-width: 414px)" srcset="img/hero/414/main-background-car-414-4.png")
                        source(media="(max-width: 768px)" srcset="img/hero/768/main-background-car-768-4.png")
                        source(media="(max-width: 1024px)" srcset="img/hero/1024/main-background-car-1024-4.png")
                        source(media="(min-width: 1025px)" srcset="img/hero/1920/main-background-car-1920-4.png")
                        img(src="img/hero/1920/main-background-car-1920-4.png" alt="").hero__picture


        .advantages.inner-block 
            .container.container--mode
                h2.title.advantages__title Преимущества работы с нами
            .container
                .advantages__wrapper 
                    ul.advantages__list 
                        li 
                            img(src="img/svg/advantages/item1.svg" alt="")
                            p Предмет лизинга российских и зарубежных производителей
                            span.advantages__number 01
                        li 
                            img(src="img/svg/advantages/item2.svg" alt="")
                            p Эксклюзивные скидки от поставщиков любого предмета лизинга
                            span.advantages__number 02
                        li 
                            img(src="img/svg/advantages/item3.svg" alt="")
                            p Экономия за счёт возврата НДС
                            span.advantages__number 03
                        li 
                            img(src="img/svg/advantages/item4.svg" alt="")
                            p Сложные структурированные сделки
                            span.advantages__number 04
            .advantages__wide-block

        .proposal.inner-block
            .container.container--mode 
                h2.title.proposal__title Предмет лизинга
            .proposal__slick
                .proposal__item
                    .proposal__arrows 
                        .slick-proposal__prev
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L1.21251 7.53333C1.14634 7.5886 1.0928 7.65937 1.05597 7.74025C1.01914 7.82113 1 7.90997 1 8C1 8.09003 1.01914 8.17887 1.05597 8.25975C1.0928 8.34063 1.14634 8.4114 1.21251 8.46667L9 15" stroke="#22304B" stroke-width="0.75"/></svg>
                        p.proposal__item-name Новые автомобили
                        .slick-proposal__next
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L8.78749 7.53333C8.85366 7.5886 8.9072 7.65937 8.94403 7.74025C8.98086 7.82113 9 7.90997 9 8C9 8.09003 8.98086 8.17887 8.94403 8.25975C8.9072 8.34063 8.85366 8.4114 8.78749 8.46667L1 15" stroke="#22304B" stroke-width="0.75"/></svg>

                    picture 
                        source(media="(max-width: 320px)" srcset="img/proposal/item1-mobile2.png")
                        source(media="(max-width: 414px)" srcset="img/proposal/item1-mobile1.png")
                        source(media="(max-width: 768px)" srcset="img/proposal/item1-tablet.png")
                        source(media="(max-width: 1024px)" srcset="img/proposal/item1-laptop.png")
                        source(media="(min-width: 1025px)" srcset="img/proposal/item1-desktop.png")
                        img(src="img/proposal/item1-desktop.png" alt="")
                    ul.proposal__list
                        li.proposal__item-title
                            p Новые автомобили
                        li
                            a(href="") 
                                p.proposal__count 01 /
                                    span 04 
                                p.proposal__name.proposal__name--mode Новые автомобили
                        li
                            a(href="") 
                                p.proposal__count 02 /
                                    span 04
                                p.proposal__name Поддержанные автомобили
                        li
                            a(href="") 
                                p.proposal__count 03 /
                                    span 04
                                p.proposal__name Коммерческий транспорт
                        li
                            a(href="") 
                                p.proposal__count 04 /
                                    span 04
                                p.proposal__name Автомобили повышенной вместимости
                .proposal__item
                    .proposal__arrows 
                        .slick-proposal__prev
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L1.21251 7.53333C1.14634 7.5886 1.0928 7.65937 1.05597 7.74025C1.01914 7.82113 1 7.90997 1 8C1 8.09003 1.01914 8.17887 1.05597 8.25975C1.0928 8.34063 1.14634 8.4114 1.21251 8.46667L9 15" stroke="#22304B" stroke-width="0.75"/></svg>
                        p.proposal__item-name Новые автомобили2
                        .slick-proposal__next
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L8.78749 7.53333C8.85366 7.5886 8.9072 7.65937 8.94403 7.74025C8.98086 7.82113 9 7.90997 9 8C9 8.09003 8.98086 8.17887 8.94403 8.25975C8.9072 8.34063 8.85366 8.4114 8.78749 8.46667L1 15" stroke="#22304B" stroke-width="0.75"/></svg>
                    picture 
                        source(media="(max-width: 320px)" srcset="img/proposal/item2-mobile2.png")
                        source(media="(max-width: 414px)" srcset="img/proposal/item2-mobile1.png")
                        source(media="(max-width: 768px)" srcset="img/proposal/item2-tablet.png")
                        source(media="(max-width: 1024px)" srcset="img/proposal/item2-laptop.png")
                        source(media="(min-width: 1025px)" srcset="img/proposal/item2-desktop.png")
                        img(src="img/proposal/item2-desktop.png" alt="")
                    ul.proposal__list
                        li.proposal__item-title
                            p Легковые автомобили
                        li
                            a(href="") 
                                p.proposal__count 01 /
                                    span 04 
                                p.proposal__name.proposal__name--mode Новые автомобили
                        li
                            a(href="") 
                                p.proposal__count 02 /
                                    span 04
                                p.proposal__name Поддержанные автомобили
                        li
                            a(href="") 
                                p.proposal__count 03 /
                                    span 04
                                p.proposal__name Коммерческий транспорт
                        li
                            a(href="") 
                                p.proposal__count 04 /
                                    span 04
                                p.proposal__name Автомобили повышенной вместимости
                .proposal__item
                    .proposal__arrows 
                        .slick-proposal__prev
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L1.21251 7.53333C1.14634 7.5886 1.0928 7.65937 1.05597 7.74025C1.01914 7.82113 1 7.90997 1 8C1 8.09003 1.01914 8.17887 1.05597 8.25975C1.0928 8.34063 1.14634 8.4114 1.21251 8.46667L9 15" stroke="#22304B" stroke-width="0.75"/></svg>
                        p.proposal__item-name Новые автомобили3
                        .slick-proposal__next
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L8.78749 7.53333C8.85366 7.5886 8.9072 7.65937 8.94403 7.74025C8.98086 7.82113 9 7.90997 9 8C9 8.09003 8.98086 8.17887 8.94403 8.25975C8.9072 8.34063 8.85366 8.4114 8.78749 8.46667L1 15" stroke="#22304B" stroke-width="0.75"/></svg>
                    picture 
                        source(media="(max-width: 320px)" srcset="img/proposal/item3-mobile2.png")
                        source(media="(max-width: 414px)" srcset="img/proposal/item3-mobile1.png")
                        source(media="(max-width: 768px)" srcset="img/proposal/item3-tablet.png")
                        source(media="(max-width: 1024px)" srcset="img/proposal/item3-laptop.png")
                        source(media="(min-width: 1025px)" srcset="img/proposal/item3-desktop.png")
                        img(src="img/proposal/item3-desktop.png" alt="")
                    ul.proposal__list
                        li.proposal__item-title
                            p Легковые автомобили
                        li
                            a(href="") 
                                p.proposal__count 01 /
                                    span 04 
                                p.proposal__name.proposal__name--mode Новые автомобили
                        li
                            a(href="") 
                                p.proposal__count 02 /
                                    span 04
                                p.proposal__name Поддержанные автомобили
                        li
                            a(href="") 
                                p.proposal__count 03 /
                                    span 04
                                p.proposal__name Коммерческий транспорт
                        li
                            a(href="") 
                                p.proposal__count 04 /
                                    span 04
                                p.proposal__name Автомобили повышенной вместимости
                .proposal__item
                    .proposal__arrows 
                        .slick-proposal__prev
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L1.21251 7.53333C1.14634 7.5886 1.0928 7.65937 1.05597 7.74025C1.01914 7.82113 1 7.90997 1 8C1 8.09003 1.01914 8.17887 1.05597 8.25975C1.0928 8.34063 1.14634 8.4114 1.21251 8.46667L9 15" stroke="#22304B" stroke-width="0.75"/></svg>
                        p.proposal__item-name Новые автомобили4
                        .slick-proposal__next
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L8.78749 7.53333C8.85366 7.5886 8.9072 7.65937 8.94403 7.74025C8.98086 7.82113 9 7.90997 9 8C9 8.09003 8.98086 8.17887 8.94403 8.25975C8.9072 8.34063 8.85366 8.4114 8.78749 8.46667L1 15" stroke="#22304B" stroke-width="0.75"/></svg>
                    picture 
                        source(media="(max-width: 320px)" srcset="img/proposal/item4-mobile2.png")
                        source(media="(max-width: 414px)" srcset="img/proposal/item4-mobile1.png")
                        source(media="(max-width: 768px)" srcset="img/proposal/item4-tablet.png")
                        source(media="(max-width: 1024px)" srcset="img/proposal/item4-laptop.png")
                        source(media="(min-width: 1025px)" srcset="img/proposal/item4-desktop.png")
                        img(src="img/proposal/item4-desktop.png" alt="")
                    ul.proposal__list
                        li.proposal__item-title
                            p Легковые автомобили
                        li
                            a(href="") 
                                p.proposal__count 01 /
                                    span 04 
                                p.proposal__name.proposal__name--mode Новые автомобили
                        li
                            a(href="") 
                                p.proposal__count 02 /
                                    span 04
                                p.proposal__name Поддержанные автомобили
                        li
                            a(href="") 
                                p.proposal__count 03 /
                                    span 04
                                p.proposal__name Коммерческий транспорт
                        li
                            a(href="") 
                                p.proposal__count 04 /
                                    span 04
                                p.proposal__name Автомобили повышенной вместимости

            .container.proposal__container
                button.button.button--green.proposal__button Смотреть больше

        .guarantees.inner-block
            .container.container--mode
                h2.title.guarantees__title Гарантии надёжности
                .huarantees__wrapper 
                    .guarantees__content
                        .guarantees__item.guarantees__item--mode1 
                            img(src="img/guarantees/pixlr.png" alt="")
                            h3 Страхование <i class="br"></i> предмета лизинга
                            p.opacity-txt Значимость этих проблем настолько очевидна, что консультация с широким активом обеспечивает актуальность поставленных обществом задач. В своём стремлении улучшить пользовательский опыт мы.
                        .guarantees__item.guarantees__item--mode
                            h3 Новая парадигма реальности: прототип — не панацея
                            p.opacity-txt.opacity-txt--base Ясность нашей позиции очевидна: сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели
                    .guarantees__content
                        .guarantees__block
                            .guarantees__item
                                h3 Принимая во внимание показатели успешности
                                p.opacity-txt.opacity-txt--base Также как перспективное планирование предоставляет широкие возможности для соответствующих условий активизации. Но некоторые.
                            .guarantees__item
                                h3 Высокий уровень <i class="br"></i> вовлечения представителей целевой
                                p.opacity-txt.opacity-txt--base Кстати, базовые сценарии поведения пользователей лишь добавляют фракционных разногласий и призваны к ответу. Но постоянный.
                        .guarantees__item.guarantees__item--mode2
                            img(src="img/guarantees/www-1.png" alt="")
                            h3 Безусловно, внедрение
                            p.opacity-txt Также как перспективное планирование предоставляет широкие возможности для соответствующих условий активизации

        .actions.inner-block
            .container.container--mode.toggle
                h2.title.actions__title Как это происходит?
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.17938 7.54647L13.1959 0.375L0.804099 0.375L6.82062 7.54647L6.82114 7.54709C6.83926 7.56879 6.86429 7.58846 6.89566 7.60275C6.92708 7.61706 6.96286 7.625 7 7.625C7.03714 7.625 7.07292 7.61705 7.10434 7.60275C7.13571 7.58846 7.16074 7.56879 7.17887 7.54709L7.17938 7.54647Z" fill="#22304B" stroke="#22304B" stroke-width="0.75"/></svg>

            .container.hide
                .actions__wrapper 
                    .actions__content 
                        .actions__item.actions__item--1
                            ul.actions__list
                                li 
                                    .actions__count 
                                        span 01 /
                                        span 08
                                    p.actions__caption Отправляете заявку
                                    p.actions__text Также как сложившаяся структура организации представляет собой интересный эксперимент
                                li 
                                    .actions__count 
                                        span 02 /
                                        span 08
                                    p.actions__caption Предоставляете пакет документов
                                    p.actions__text Следует отметить, что социально-экономическое развитие, а также свежий взгляд
                                li 
                                    .actions__count 
                                        span 03 /
                                        span 08
                                    p.actions__caption Наш менеджер готовит предложение с расчётом
                                    p.actions__text Являясь всего лишь частью общей картины, многие известные личности лишь добавляют фракционных
                                li 
                                    .actions__count 
                                        span 04 /
                                        span 08
                                    p.actions__caption Заключаем договор лизинга
                                    p.actions__text А также сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям

                        .actions__item.actions__item--2
                            img(src="img/actions/hand-image-1.png" alt="")
                    .actions__content 
                        .actions__item--3
                            img(src="img/actions/julian-hochgesang-qnkfj9mgrai-unsplash-1.png" alt="")
                            img(src="img/actions/kelly-sikkema-tqq4bwn-ufs-unsplash-1.png" alt="")
                        .actions__item.actions__item--4
                            ul.actions__list.actions__list--mode
                                li 
                                    .actions__count 
                                        span 05 /
                                        span 08
                                    p.actions__caption Вносите аванс
                                    p.actions__text Приятно, граждане, наблюдать, как акционеры крупнейших компаний могут быть преданы
                                li 
                                    .actions__count 
                                        span 06 /
                                        span 08
                                    p.actions__caption Заключаем договор купли-продажи
                                    p.actions__text И нет сомнений, что сделанные на базе интернет-аналитики выводы будут объявлены
                                li 
                                    .actions__count 
                                        span 07 /
                                        span 08
                                    p.actions__caption Пользуетесь предметом и уплачиваете платежи
                                    p.actions__text Повседневная практика показывает,  что выбранный нами инновационный путь
                                li 
                                    .actions__count 
                                        span 08 /
                                        span 08
                                    p.actions__caption Приобретаете предмет лизинга в собственность
                                    p.actions__text Таким образом, начало повседневной работы  по формированию позиции говорит о возможностях

        .partners.inner-block 
            .container.container--mode 
                .title Наши партнеры
                .partners__list.partners__slick
                    .partners__slick-item
                        .partners__item 
                            img(src="img/partners/item1.svg" alt="")
                            p Doyle Group
                    .partners__slick-item
                        .partners__item 
                            img(src="img/partners/item2.svg" alt="")
                            p Langworth Group
                    .partners__slick-item
                        .partners__item 
                            img(src="img/partners/item3.svg" alt="")
                            p Heaney LLC
                    .partners__slick-item
                        .partners__item 
                            img(src="img/partners/item4.svg" alt="")
                            p Rogahn, Kiehn and Gulgowski
                    .partners__slick-item
                        .partners__item 
                            img(src="img/partners/item5.svg" alt="")
                            p McGlynn Rogahn
                    .partners__slick-item
                        .partners__item 
                            img(src="img/partners/item6.svg" alt="")
                            p McGlynn - Rogahn
                    .partners__slick-item
                        .partners__item 
                            img(src="img/partners/item1.svg" alt="")
                            p Doyle Group

                button.partners__button.button.button--green Все партнеры

        include modules/order.pug

        include modules/menu.pug
        include modules/footer.pug
        include modules/script.pug