.header {
    padding-top: 15px;
    margin-bottom: 25px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 300;

    svg {
        width: 24px;
        margin-right: 15px;
    }

    @include media-laptop {
        margin-bottom: 0;
    }

    @include media-mobile {
        display: none;
    }
}

.header__menu {
    padding-bottom: 5px;
    border-bottom: 1px solid #22304B;

    a {
        font-size: 18px;
        margin-right: 34px;
        font-weight: 400;

        &:last-child {
            margin-right: 0;
        }
    }

    @include media-laptop {
        display: none;
    }
}

.header__aside {
    // margin-top: 10px;

    @include media-laptop {
        margin-left: auto;
        margin-right: 60px;
    }
}

.header__burger {
    display: none;
    width: 30px;
    height: 25px;
    position: relative;
    z-index: 10;
    cursor: pointer;


    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $color-blue-dark;
        top: 0px;
        transition: all 0.3s ease-out;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $color-blue-dark;
        bottom: 0px;
        transition: all 0.3s ease-out;
    }

    span {
        display: block;
        height: 1px;
        width: 100%;
        background-color: $color-blue-dark;
    }

    @include media-laptop {
        display: flex;
        align-items: center;
    }

    @include media-mobile2 {
        width: 23px;
        height: 20px;
    }

    &.active {


        span {
            display: none;
        }

        &::before {
            transform: rotate(45deg);
            top: 50%;
        }

        &::after {
            transform: rotate(-45deg);
            bottom: 50%;
        }
    }
}