.menu {
    display: none;
}

.menu__wrapper {
    padding: 55px 30px;
    padding-right: 120px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    a {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}