doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug
        .hero-inner(style='background-image:url("img/hero-inner/faq-banner-background-1920.jpg")')
            .container.container--mode
                h2.title-main Вопросы

        .breadcrumbs
            .container.container--mode
                ul.breadcrumbs__list 
                    li
                        a(href="index.html") Главная
                    li
                        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.666781 9.42146L5.94959 5.29529C5.99448 5.26038 6.0308 5.21569 6.05578 5.16461C6.08076 5.11353 6.09375 5.05742 6.09375 5.00056C6.09375 4.9437 6.08076 4.88759 6.05578 4.83652C6.0308 4.78544 5.99448 4.74074 5.94959 4.70584L0.666781 0.579665" stroke="#22304B" stroke-width="0.5"/></svg>
                    li
                        a.current Вопросы

        .faq.inner-block 
            .container.container--mode 
                .faq__wrapper 
                    ul.faq__list 
                        li.faq__item
                            h3.faq__tab.toggle Что необходимо сделать для заключения договора лизинга?
                            .faq__content 
                                p Для заключения договора лизинга необходимо предоставить пакет документов в соответствии с перечнем документов
                        li.faq__item 
                            h3.faq__tab.toggle Какое имущество не может быть предметом лизинга?
                            .faq__content 
                                p Для заключения договора лизинга необходимо предоставить пакет документов в соответствии с перечнем документов
                        li.faq__item 
                            h3.faq__tab.toggle Каков срок принятия решения о предоставлении лизинга?
                            .faq__content 
                                p Срок принятия решения не превышает 48 часов после предоставления полного комплекта документов. Так же возможно экспресс рассмотрение в течении 3-х часов.
                        li.faq__item 
                            h3.faq__tab.toggle Может ли сторонняя организация переводить лизинговые платежи за лизингополучателя?
                            .faq__content 
                                p Срок принятия решения не превышает 48 часов после предоставления полного комплекта документов. Так же возможно экспресс рассмотрение в течении 3-х часов.
                        li.faq__item 
                            h3.faq__tab.toggle Возможен ли досрочный выкуп предмета лизинга?
                            .faq__content 
                                p Для заключения договора лизинга необходимо предоставить пакет документов в соответствии с перечнем документов
                        li.faq__item 
                            h3.faq__tab.toggle Возможен ли досрочный выкуп предмета лизинга?
                            .faq__content 
                                p Срок принятия решения не превышает 48 часов после предоставления полного комплекта документов. Так же возможно экспресс рассмотрение в течении 3-х часов.
                        li.faq__item 
                            h3.faq__tab.toggle Какими нормативными документами регулируется лизинговая деятельность?
                            .faq__content
                                p Лизинговая деятельность в Российской Федерации регулируется следующими нормативно-правовыми актами: 
                                p Конвенция УНИДРУА о международном финансовом лизинге; 
                                p Гражданский кодекс РФ. Глава 34, параграф 6; 
                                p Федеральный закон от 29 октября 1998 г. N 164-ФЗ «О финансовой аренде (лизинге)» (с изменениями от 29 января, 24 декабря 2002 г., 23 декабря 2003 г., 22 августа 2004 г., 18 июля 2005 г., 26 июля 2006 г.); 
                                p Налоговый кодекс РФ. Часть 2, глава 25. «Налог на прибыль организаций».




        include modules/order.pug

        include modules/menu.pug
        include modules/footer.pug
        include modules/script.pug