doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug
        .hero-inner(style='background-image:url("img/hero-inner/news-banner-background-1920.jpg")')
            .container.container--mode
                h2.title-main Новости компании

        .breadcrumbs
            .container.container--mode
                ul.breadcrumbs__list 
                    li
                        a(href="index.html") Главная
                    li
                        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.666781 9.42146L5.94959 5.29529C5.99448 5.26038 6.0308 5.21569 6.05578 5.16461C6.08076 5.11353 6.09375 5.05742 6.09375 5.00056C6.09375 4.9437 6.08076 4.88759 6.05578 4.83652C6.0308 4.78544 5.99448 4.74074 5.94959 4.70584L0.666781 0.579665" stroke="#22304B" stroke-width="0.5"/></svg>
                    li
                        a.current Новости компании

        .news.inner-block
            .container.container--mode 
                .news__wrapper 
                    .news__content
                        .news__item.news__block
                            h3.news__title С другой стороны, понимание сути.
                            .news__text 
                                p Таким образом, глубокий уровень погружения предопределяет высокую востребованность поставленных обществом задач. Также как выбранный нами инновационный путь выявляет срочную потребность приоритизации разума над эмоциями. Диаграммы связей в равной степени предоставлены сами себе. Современные технологии достигли.
                            span.news__show развернуть
                            img(src="img/news/news-image01.jpg" alt="")

                        .news__item.news__block
                            img(src="img/news/news-image02.jpg" alt="")
                            h3.news__title Ясность нашей позиции очевидна: синтетическое.
                            .news__text 
                                p Прежде всего, существующая теория предопределяет высокую востребованность первоочередных требований. Задача организации, в особенности же внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Но сторонники тоталитаризма в науке лишь.
                            span.news__show развернуть
                            

                    .news__content 
                        .news__item.news__item--mode 
                            .news__col 
                                h3.news__title Ясность нашей позиции очевидна: синтетическое.
                                .news__text 
                                    p Прежде всего, существующая теория предопределяет высокую востребованность первоочередных требований. Задача организации, в особенности же внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Но сторонники тоталитаризма в науке лишь.
                                span.news__show развернуть
                            img(src="img/news/news-image03.jpg" alt="")

                    .news__content.news-slider
                        .news__item.news__item--avatar
                            .news__text 
                                p Равным образом, существующая теория говорит о возможностях системы обучения кадров, соответствующей насущным потребностям. Безусловно, новая модель организационной деятельности способствует.
                            p.news__name ООО “Юнимолл”
                            img(src="img/news/avatar-image01.png" alt="")
                        .news__item.news__item--avatar
                            .news__text 
                                p Равным образом, существующая теория говорит о возможностях системы обучения кадров, соответствующей насущным потребностям. Безусловно, новая модель организационной деятельности способствует.
                            p.news__name ООО “Юнимолл”
                            img(src="img/news/avatar-image02.png" alt="")
                        .news__item.news__item--avatar
                            .news__text 
                                p Равным образом, существующая теория говорит о возможностях системы обучения кадров, соответствующей насущным потребностям. Безусловно, новая модель организационной деятельности способствует.
                            p.news__name ООО “Юнимолл”
                            img(src="img/news/avatar-image03.png" alt="")
                        .news__item.news__item--avatar
                            .news__text 
                                p Равным образом, существующая теория говорит о возможностях системы обучения кадров, соответствующей насущным потребностям. Безусловно, новая модель организационной деятельности способствует.
                            p.news__name ООО “Юнимолл”
                            img(src="img/news/avatar-image01.png" alt="")
                        .news__item.news__item--avatar
                            .news__text 
                                p Равным образом, существующая теория говорит о возможностях системы обучения кадров, соответствующей насущным потребностям. Безусловно, новая модель организационной деятельности способствует.
                            p.news__name ООО “Юнимолл”
                            img(src="img/news/avatar-image02.png" alt="")
                        .news__item.news__item--avatar
                            .news__text 
                                p Равным образом, существующая теория говорит о возможностях системы обучения кадров, соответствующей насущным потребностям. Безусловно, новая модель организационной деятельности способствует.
                            p.news__name ООО “Юнимолл”
                            img(src="img/news/avatar-image03.png" alt="")






        include modules/order.pug

        include modules/menu.pug
        include modules/footer.pug
        include modules/script.pug